*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}
body{
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #bd64f0 0%, rgba(97, 31, 110, 0.8) 100%) ;
}